<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/style.css" />
    <title>About developer</title>
  </head>
  <body>
    <div class="aboutDevContent" id="aboutDevContent">
      <h1 class="aboutDevH1" id="aboutDevH1">About developer</h1>

      <img
        class="aboutPic"
        id="aboutPic"
        src="./../img/konstantin.png"
        alt="About picture."
      />

      <div class="scrollOverWindow testFormatet" id="scrollOverWindow">
        <p>In Progress.</p>
      </div>
    </div>
  </body>
</html>
