<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/style.css" />
    <title>Legality</title>
  </head>
  <body>
    <div class="legalityContent" id="legalityContent">
      <h1 class="legalityH1" id="legalityH1">Legality</h1>

      <div class="scrollOverWindow" id="scrollOverWindow">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit cum
          sit eveniet, officia vero quasi molestias consectetur saepe
          consequatur. Quos, laudantium? Autem non expedita doloribus optio
          asperiores magni impedit cumque provident saepe, tenetur, laboriosam,
          dicta porro molestiae voluptate molestias ratione ullam voluptatum.
          Nostrum voluptate vero fugiat necessitatibus mollitia beatae ratione
          officiis voluptatibus incidunt sequi tempora nesciunt, delectus
          sapiente odit, illo vel perferendis neque? Dolores recusandae, ea,
          aliquid earum harum qui exercitationem blanditiis eos odit quos quod
          excepturi fugit! Voluptate facere sit quod cumque, laudantium odio
          totam? Beatae suscipit unde nostrum aut dignissimos rem facilis
          recusandae odio, sunt maiores odit distinctio assumenda? Sed ex dolor,
          vitae soluta vel optio aperiam modi alias ea repellat, architecto,
          porro fugiat? Est obcaecati, nostrum architecto delectus incidunt quam
          numquam cupiditate non earum esse ratione itaque ducimus error ex
          dicta magnam modi voluptatem nam accusamus maxime maiores voluptate
          distinctio, provident rem. Voluptatum perferendis quo at, deleniti
          rerum obcaecati nostrum beatae, nulla, vitae error illum illo
          necessitatibus? Aspernatur voluptatibus, ipsam maiores reiciendis
          consectetur similique sint numquam rem quas! Aut harum sapiente
          explicabo doloremque, qui amet dolorem laborum, dolore, ullam atque
          totam quod. Ex, debitis expedita atque id, quasi voluptates
          voluptatibus praesentium, eius consequatur commodi rem similique
          inventore? <br />

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
          deserunt repellat velit est sequi eligendi vero ea obcaecati quo iure
          veniam eaque fugiat qui ullam, necessitatibus ex omnis rem adipisci
          similique. A obcaecati corrupti deleniti laboriosam voluptatem quasi
          doloremque quo, asperiores nihil eum? Nostrum obcaecati magnam aliquam
          ea vel, incidunt tempore totam neque doloribus voluptatibus temporibus
          corrupti eaque culpa consequuntur repellendus nihil dolorum excepturi
          alias saepe quaerat iusto quae! Nisi ea quas perspiciatis aut quasi
          dolores repellat quos asperiores explicabo sit nostrum voluptatibus,
          at molestiae. Delectus minus ducimus nisi quas, voluptate sequi
          veritatis, exercitationem quidem laboriosam sint voluptatibus. Minus,
          quisquam quaerat facilis assumenda eligendi quia repellendus corporis
          consectetur quam? Saepe unde minima facere aliquam consequatur et
          doloribus earum odit, non libero officiis odio laborum omnis ipsa!
          Ducimus ullam aperiam nulla ex quo eveniet aliquam suscipit velit,
          optio enim ipsa. Sequi harum error nisi corrupti perspiciatis vero in
          explicabo ullam? Minus deleniti in rerum! Doloremque iste quo suscipit
          voluptatibus officiis fugit, delectus quam quidem quas sunt facilis,
          beatae repellendus dignissimos aspernatur commodi inventore cum
          aliquid. Laudantium quaerat enim, quidem vitae totam, corporis
          repellat asperiores soluta sed veritatis ducimus praesentium natus
          blanditiis obcaecati similique, officia perferendis illum voluptate
          odio quis molestias sequi aspernatur. Sunt quaerat magni a sit
          eligendi necessitatibus optio voluptates corporis, alias iure illo
          sint ipsa rem similique. Aliquid libero, placeat, amet nulla
          architecto voluptates, ad asperiores culpa harum dolorum repellendus!
          Consequatur ipsa perferendis delectus quia aliquid atque, voluptatum
          sapiente impedit, reprehenderit cum saepe inventore. Rem, atque
          sapiente, molestiae alias necessitatibus veritatis aliquid delectus
          vero rerum aliquam sed dolorum deleniti earum voluptate itaque
          suscipit. Maiores amet architecto, laborum vero excepturi veritatis id
          fuga inventore assumenda pariatur placeat molestias, porro veniam nemo
          fugit facere quo consequatur necessitatibus, cupiditate sapiente rem
          mollitia! Est maxime reiciendis qui? Tempore eius mollitia nobis nihil
          accusantium natus nam, expedita ipsum sit quasi, inventore incidunt
          distinctio alias iste molestiae cumque perferendis nesciunt tempora
          nostrum repellat ipsa temporibus quibusdam nemo. Assumenda asperiores
          aliquam eligendi nobis saepe minus veniam officiis alias explicabo id
          suscipit nulla accusamus iusto minima amet, sunt tempore ratione
          voluptatibus voluptatem. Culpa sunt at, aut eveniet placeat, ducimus
          ipsam porro, nostrum tempore vel quisquam accusantium natus hic
          quibusdam repudiandae consequuntur? Consequuntur at accusamus maiores
          reiciendis quidem iste cupiditate ratione quam culpa, voluptas nam
          beatae libero labore, cumque enim voluptate, minus nesciunt saepe
          officia sed! Accusantium voluptates, nulla aut quae velit quisquam
          consequatur qui quia itaque commodi.
        </p>
      </div>
    </div>
  </body>
</html>
