<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/style.css" />
    <title>Settings</title>
  </head>
  <body>
    <div class="settingsContent" id="settingsContent">
      <h1 class="settingsH1" id="settingsH1">Settings</h1>

      <img
        class="settingsPic"
        id="settingsPic"
        src="./../assets/img/10_menu/settings.svg"
        alt="Settings picture."
      />

      <div class="scrollOverWindow testFormatet settingsBox" id="scrollOverWindow">
        <div class="controllPanelMovement" id="controllPanelMovement">
          <div class="controllRight" id="controllRight">
            WALK RIGHT
            <img
              src="./../assets/vector/arrows/keyboard-arrow-right.svg"
              alt="Controll to the right key."
            />
          </div>

          <div class="controllLeft" id="controllLeft">
            WALK LEFT
            <img
              src="./../assets/vector/arrows/keyboard-arrow-left.svg"
              alt="Controll to the left key."
            />
          </div>

          <div class="controllThrow" id="controllThrow">
            THROW YOUR SALSA
            <img src="./../assets/vector/arrows/bolt.svg" alt="AIM key." />
          </div>

          <div class="controllJump" id="controllJump">
            JUMP OVER
            <img
              src="./../assets/vector/arrows/keyboard arrow up.svg"
              alt="Controll to the up key."
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
