<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/style.css" />
    <title>Story of EL POLLO LOCO</title>
  </head>
  <body>
    <div class="storyContent" id="storyContent">
      <h1 class="storyH1" id="storyH1">Story of EL POLLO LOCO</h1>

      <img
        class="storyPic"
        id="storyPic"
        src="./../img/konstantin.png"
        alt="Story picture."
      />

      <div class="scrollOverWindow testFormatet " id="scrollOverWindow">
        <h2>Die Entstehung von „El Pollo Loco“</h2>
        <p>
          Es war einmal ein passionierter Entwickler, der eine Vision hatte –
          ein fesselndes Spiel zu erschaffen, das Spieler jeden Alters in seinen
          Bann ziehen sollte. Diese Vision trug den Namen „El Pollo Loco“. Die
          Aufgabe war klar: Ein Jump-and-Run-Abenteuer zu kreieren, das sowohl
          Spaß machte als auch technisch anspruchsvoll war. <br />
          Der Weg war nicht einfach. Zahlreiche Herausforderungen stellten sich
          dem Entwickler in den Weg. Jede Codezeile musste perfekt sitzen, jede
          Animation flüssig sein und jeder Gegner eine echte Bedrohung
          darstellen. Die Welt, die er schuf, war lebendig – mit einem mutigen
          Charakter, der sich durch gefährliche Levels kämpfen musste, um das
          Böse in Form des gefürchteten Endbosses zu besiegen. <br />
          Doch es ging nicht nur um Technik und Funktionalität. „El Pollo Loco“
          sollte auch ästhetisch ansprechend sein. Der Entwickler verbrachte
          unzählige Stunden damit, das Design zu perfektionieren. Die richtige
          Schriftart wurde ausgewählt, der Hintergrund stimmig gestaltet, und
          jedes Detail, vom kleinsten Favicon bis zum umfangreichsten
          Soundtrack, sorgfältig durchdacht. <br />
          Aber der Entwickler wusste, dass ein gutes Spiel mehr als nur hübsche
          Grafiken und fehlerfreien Code brauchte. Es musste auf allen Geräten,
          ob groß oder klein, perfekt funktionieren. So wurde das Spiel auf
          Responsiveness optimiert, damit es sowohl auf dem Desktop als auch auf
          mobilen Geräten reibungslos lief. <br />
          Das Herzstück von „El Pollo Loco“ war jedoch die
          Benutzerfreundlichkeit. Jeder Button, jeder Link, jede Interaktion
          wurde daraufhin geprüft, dass sie den Spieler auf intuitive Weise
          durch das Abenteuer führte. Kein Konsolenfehler sollte den Spielspaß
          trüben, und jede Funktion war darauf ausgerichtet, das Spielerlebnis
          so angenehm wie möglich zu gestalten. <br />
          Nach vielen Tagen und Nächten des Programmierens, Testens und
          Verfeinerns war das Spiel bereit, das Licht der Welt zu erblicken.
          Doch bevor es veröffentlicht wurde, stellte der Entwickler sicher,
          dass alles nach Plan lief. Eine umfassende Checkliste wurde
          durchgegangen, Fehler wurden behoben, und das Spiel wurde optimiert.
          <br />
          Und so entstand „El Pollo Loco“ – ein Spiel, das nicht nur durch seine
          technische Raffinesse, sondern auch durch seine liebevolle Gestaltung
          und detailverliebte Umsetzung besticht. Der Entwickler hat es
          geschafft, ein Abenteuer zu schaffen, das Spieler begeistert und
          herausfordert, während es sie in eine farbenfrohe, spannende Welt
          entführt.
        </p>
      </div>
    </div>
  </body>
</html>
